<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :first_name %><br/>
	<%= f.text_field :first_name, class: "form-control", style: "width:25%;" %></div>
	
	  <div><%= f.label :last_name %><br/>
	<%= f.text_field :last_name, class: "form-control", style: "width:25%;" %></div>

	  <div><%= f.label :profile_name %><br/>
	<%= f.text_field :profile_name, class: "form-control", style: "width:25%;" %></div>

    <div><%= f.label :student_number %><br/>
  <%= f.text_field :profile_name, class: "form-control", style: "width:25%;" %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control", style: "width:25%;" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", style: "width:25%;" %></div>

  <div><%= f.label "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", style: "width:25%;" %></div>

  <div><%= f.submit "Sign up", class: "btn btn-success pull-left" %></div>
  <div><%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary", style: "margin-left:2%;" %></div>
<% end %>

