<div class="page-header">
	<h1>Student Log-ins</h1>
</div>

<%= link_to 'Create new Log-in', new_log_path, class: "btn btn-success pull-left", style: "margin-right:10px;" %>
<%= link_to 'Class Totals', total_logs_path, class: "btn btn-warning pull-left", style: "margin-right:10px;" %>
<div class="sign_in/out">
	<% if user_signed_in? %>
		<%= button_to 'Sign out', destroy_user_session_path, :method => :delete, class: "btn btn-danger" %>
	<% else %>
		<%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary pull-left" %>
	<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <% if user_signed_in? %>
        <th><center>Name</center></th>
        <th><center>Student number</center></th>
      <% end %>
      <th><center>Class Period</center></th>
      <th><center>Time</center></th>
      <th><center>Activity</center></th>
      <th><center>School Related</center></th>
      <% if user_signed_in? %>
        <th><center>Created At</center></th>
        <th></th>
        <th></th>
        <th><center><%= @logs.count %> log-ins<%= button_to 'Delete All', delete_all_logs_path, method: :delete, :onclick => "return confirm( 'Are you sure you want to delete all log-ins? This is not reversible!' )", class: "btn btn-danger" %></center></th>
      <% end %>
    </tr>
  </thead>
  

  <tbody class="table-striped">
    <% @logs.each do |log| %>
      <tr>
        <% if user_signed_in? %>
          <td><center><b><%= log.name %></b></center></td>
          <td><center><%= log.student_number %></center></td>
        <% end %>
        <td><center><%= log.period %></center></td>
        <td><center><%= log.time %></center></td>
        <td><center><%= log.activity %></center></td>
        <td><center><%= log.school_activity %></center></td>
        <% if user_signed_in? %>
          <td><center><%= log.created_at.strftime("%b %e, %Y") %></center></td>
          
          <!-- Managing Code !-->
          <div class="meta">
            <td><span class=""><center><%= link_to 'Edit', edit_log_path(log), class: "btn btn-warning" %></center></span></td>
            <td><span class=""><center><%= link_to 'Show', log, class: "btn btn-info" %></center></span></td>
            <td><span class=""><center><%= button_to 'X', log, method: :delete, :onclick => "return confirm('Are you sure you want to delete this log?')", class: "btn btn-danger" %></center></span></td>
          </div>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

