<style>
	.arc path	{
		stroke:#fff;
		}
</style>

<div class="page-header">
	<h1>Total For All Clases</h1>
</div>


<%= link_to 'Show All Logs', logs_path, class: "btn btn-warning pull-left", style: "margin-right:10px;" %>
<div class="sign_in/out">
	<% if user_signed_in? %>
		<%= button_to 'Sign out', destroy_user_session_path, :method => :delete, class: "btn btn-danger" %> 
	<% else %>
		<%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary pull-left" %>
	<% end %>
</div>
<div class="container" style="margin-top:20px;">
<% @period_time.each do |time| %>
    <div><b><%= time[0] %>:</b> <%= time[1] %></div>
<% end %>
</div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.population; });

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.csv("data.csv", function(error, data) {

  data.forEach(function(d) {
    d.population = +d.population;
  });

  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.age); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.data.age; });

});

</script>