<!DOCTYPE html>
<html>
<head>
  <title>Teens On The Move</title>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag	 "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#fC;">
      <a class="navbar-brand" href="/logs/">Teens On The Move</a>
      <br/>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	<div class="container">
		<%= yield %><hr/>
	</div>
</body>
</html>
